.chip {
  border-radius: 6px;
  display: flex;
  line-height: 20px;
  font-weight: bold;
  &__success {
    padding: 13px 30px;
    background-color: rgba($color: $chip-success, $alpha: 0.06);
    color: $chip-success;
    &::before {
      content: '';
      background-color: $chip-success;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      margin-top: 4.5px;
      margin-right: 8px;
    }
  }
  &__warn {
    padding: 13px 18px;
    background-color: rgba($color: $chip-warning, $alpha: 0.06);
    color: $chip-warning;
    &::before {
      content: '';
      background-color: $chip-warning;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      margin-top: 4.5px;
      margin-right: 8px;
    }
  }
  &__draft {
    padding: 13px 27px;
    @include themed() {
      // background-color: rgba($color: #373B53, $alpha: 0.06);
      color: theme($card-total);
      background-color: rgba($color: theme($chip-base), $alpha: 0.06);
    }
    color: #373B53;
    &::before {
      content: '';
      @include themed() {
        background-color: theme($card-total);
      }
      height: 8px;
      width: 8px;
      border-radius: 50%;
      margin-top: 4.5px;
      margin-right: 8px;
    }
  }
}