.date-picker {
  position: relative;
	width: 101%;
  display: flex;
  align-items: center;
	cursor: pointer;
	user-select: none;
  > input {
    @include themed() {
      border: none;
      text-align: left;
      background-color: theme($general-background-light);
      color: theme($input-font-color);
    }
  }
  .dates {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    padding: 25px 19px;
    z-index: 1;
    @include themed() {
      background-color: theme($select-calendar-background)
    }
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    &.active {
      display: block;
    }
    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      height: 140px;
      .day { 
        display: flex;
        justify-content: center;
        align-items: center;
        &.selected {
          color: #7C5DFA;
        }
      }
    }
    .month {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 32px;
    }
  }
}