.edit-invoice, .side-drawer {
  > section.container__px {
    padding-bottom: 68px;
    > button {
      @include breakpoints(medium) {
        display: none;
      }
    }
  }
  @include themed() {
    background-color: theme($view-invoice-background);
  }
  
  > footer {
    padding: 21px 24px;
    position: relative;
    @include themed() {
      background-color: theme($general-background-light);
    }
    > a:first-of-type {
      margin-left: auto;
      margin-right: 8px;
    }
    &::before {
      content: '';   
      position: absolute;
      width: 375px;
      height: 64px;
      left: 0px;
      top: -61px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
      @include breakpoints(medium) {
        content: unset;
      }
    }
  }
}

.user-select-wrapper {
  @include breakpoints(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
  }
}

.bill-from-form {
  margin-bottom: 40px;
  &__address-wrapper > div {
    &:last-of-type {
      width: 100%;
      @include breakpoints(medium) {
        width: 33%;
      }
    }
    @include breakpoints(medium) {
      width: 33%;
    }
  }
}
.bill-to-form {
  margin-bottom: 66px;
  &__address-wrapper > div {
    &:last-of-type {
      width: 100%;
      @include breakpoints(medium) {
        width: 33%;
      }
    }
    @include breakpoints(medium) {
      width: 33%;
    }
  }
}

.item-list-form {
  & > h2:first-of-type {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.375px;
    margin-bottom: 24px;
}

  &__items {
    > li {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 48px;
      width: 100%;
      > div:last-of-type {
        justify-content: flex-end;
        @include breakpoints(medium) {
          justify-content: center;
        }
      }
    }
    &--name {
      @include breakpoints(medium) {
        width: 37%;
        margin-right: 16px;
      }
    }
    &--quantity {
      > input {
        width: 100%;
        margin-top: 10px;
      }
      margin-right: 16px;
      max-width: 20%;
      @include breakpoints(medium) {
        max-width: 10%;
      }
    }
    &--price {
      > input {
        width: 100%;
        margin-top: 10px;
      }
      margin-right: 16px;
      max-width: 30%;
      @include breakpoints(medium) {
        max-width: 20%;
      }
    }
    &--total {
      > input {
        width: 100%;
        margin-top: 10px;
      }
      min-width: 100px;
      max-width: 30%;
      @include breakpoints(medium) {
        max-width: 20%;
      }
    }
    .delete-button {
      margin-bottom: 20px;
      justify-self: center;
      @include breakpoints(medium) {
        margin-bottom: 0px;
      }
    }
  }
}
