html {
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p {
  margin: 0;
}

a {
  text-decoration:none;
}
h1, .h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}

h2, .h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.625px;
  @include themed() {
    color: theme($primary-color);
  }
}

h3, .h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
  &.light {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
  }
}

h4, .h4, label {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: $font-accent;
  &.bold {
    font-weight: 700;
  }
}

label {
  margin-bottom: 10px;
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.015625rem;
}

figure {
  margin: 0;
}

input, .date-picker, .select {
  padding: 17px 20px;
  border-radius: 4px;
  @include themed() {
    background-color: theme($general-background-light);
    border: theme($input-border);
    color: theme($input-font-color);
  }

    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    &:disabled {
      border: none;
      display: flex;
      padding: 0;
      text-align: center;
    }
}
input:read-only {
  border: none;
  color: $input-read-only-font-color;
  background-color: transparent;
}
ul,
ul li,
ul ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}

.mini {
  max-width: 47%;
}

.hide {
  display: none;
}

.container {
  @include themed() {
    background-color: theme($general-background);
  }
  &__px {
    padding-right: 24px;
    padding-left: 24px;
    &--right {
      padding-right: 24px;
      padding-left: 0px;
    }
    &--left {
      padding-left: 24px;
      padding-right: 0px;
    }
  }
  &__py {
    padding-top: 32px;
    padding-bottom: 32px;
    &--top {
      padding-top: 32px;
      padding-bottom: 0px;
    }
    &--bottom {
      padding-bottom: 32px;
      padding-top: 0px;
    }
  }
  &__p-all {
    padding: 32px 24px;
  }
}

.pb-1 {
  padding-bottom: 24px;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  &__col {
    flex-direction: column;
  }
  &__ai-c {
    align-items: center;
  }
  &__jc-end {
    justify-content: flex-end;
  }
  &__jc-sb {
    justify-content: space-between;
  }
  &__jc-center {
    justify-content: center;
  }
}

.w-100 {
  width: 100%;
}