

.header {
  display: flex;
  align-items: center;
  // background-color: $header-background;
  @include themed() {
    background-color: theme($header-background);
  }
  &__toggle-theme {
    position: relative;
     &::after {
       content: '';
       position: absolute;
       width: 1px;
       height: 72px;
       background-color: #494E6E;
       top: -25px;
       right: -24px;
     }
  }
  &__logo-wrapper {
    width: 72px;
    height: 73px;
    background-color: $purple-dark;
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      content: '';
      position: absolute;
      background-color: $purple-light;
      width: 72px;
      height: 36px;
      top: 37px;
      left: 0;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    &__logo {
      width: 28px;
      height: 28px;
      z-index: 1;
    }
  
    &__avatar-wrapper {
      &__avatar {
        width: 32px;
        border-radius: 50%;
        margin-left: 48px;
      }
    }
  }
}