.side-drawer {
  position: fixed;
  top: 73px;
  left: 0;
  bottom: 0;
  width: 80%;
  transform: translateX(-100%);
  overflow: scroll;
  @include breakpoints(large) {
    left: 103px;
    top: 0;
    width: 60%;
  }
  // padding: 2.75rem 1.5rem;
  border-radius: 0px 20px 20px 0px;
  &__is-opened {
    transform: translateX(0px);
    @include breakpoints(large) {
      transform: translateX(-20px);
    }
  }
}
