.view-invoice {
  > section {
    padding-bottom: 56px;
  }
  &__themed-heading {
    @include themed() {
      color: theme($primary-color);
    }
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__status-wrapper {
    padding: 24px;
    border-radius: 8px;
  
    @include themed() {
      background-color: theme($general-background-light);
    }
  }
  
  &__details-wrapper {
    > .card > h4 {
      &:not(:first-child) {
        @include themed() {
          color: theme($primary-color-light);
        }
      }
    }
    &--date-details {
      > h4 {
        margin-bottom: 8px;
        line-height: 15px;
      }
      > h3:first-of-type {
        margin-bottom: 26px;
      }
      > h3 {
        @include themed() {
          color: theme($primary-color);
        }
      }
    }
    &--address-details {
      > h4 {
        line-height: 15px;
      }
      > h4:first-of-type {
        margin-bottom: 8px;
      }
      > h3:first-of-type {
        margin-bottom: 8px;
      }
      > h3 {
        @include themed() {
          color: theme($primary-color);
        }
      }
    }
    &--sent-to-details {
      > h3 {
        @include themed() {
          color: theme($primary-color);
        }
      }
    }
  }

  > footer {
    padding: 21px 24px;
    @include themed() {
      background-color: theme($header-background);
    }
  }
}

