.view-invoice {
  @include breakpoints(medium) {
    height: inherit;
  }
  > section {
    padding-bottom: 56px;
    height: inherit;
  }
  &__themed-heading {
    @include themed() {
      color: theme($primary-color);
    }
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__status-wrapper {
    padding: 24px;
    @include breakpoints(medium) {
      // Overrides for 640px and up
      padding: 20px 32px;
    }
    border-radius: 8px;

    @include themed() {
      background-color: theme($general-background-light);
    }
  }

  &__details-wrapper {
    > .card:hover {
      border-color: rgba($color: $white, $alpha: 0);
    }
    > .card > h4 {
      &:not(:first-child) {
        @include themed() {
          color: theme($primary-color-light);
        }
      }
    }
    &--date-details {
      > h4 {
        margin-bottom: 8px;
        line-height: 15px;
      }
      > h3:first-of-type {
        margin-bottom: 26px;
      }
      > h3 {
        @include themed() {
          color: theme($primary-color);
        }
      }
    }
    &--address-details {
      > h4 {
        line-height: 15px;
      }
      > h4:first-of-type {
        margin-bottom: 8px;
      }
      > h3:first-of-type {
        margin-bottom: 8px;
      }
      > h3 {
        @include themed() {
          color: theme($primary-color);
        }
      }
    }
    &--sent-to-details {
      > h3 {
        @include themed() {
          color: theme($primary-color);
        }
      }
    }
  }

  > footer.view-invoice-footer {
    padding: 21px 24px;
    @include themed() {
      background-color: theme($header-background);
    }
  }
}

.card {
  @include breakpoints(medium) {
    // Overrides for 640px and up
    padding: 32px;
  }
  &__content {
    &--user-details {
      display: flex;
      @include breakpoints(medium) {
        // Overrides for 640px and up
      }
      > hgroup:nth-of-type(2) {
        text-align: right;
        margin-left: auto;
      }
    }
  }
}
