$bg-primary: #F8F8FB;
$bg-dark: #373B53;
$purple-dark:  #7C5DFA;
$purple-light:  #9277FF;
$font-primary: #0C0E16;
$font-secondary: #7789eb;
$font-accent: #888EB0;
$chip-success: #33D69F;
$chip-warning: #FF8F00;
$chip-base: $bg-dark;
$white: #FFFFFF;

// TODO: DELETE
$header-background: #373B53;
$general-background: #141625;