<article id="edit-invoice" class="edit-invoice">
  <section class="container__px container__py--top ">
    <button class="icon-button icon-button__mini icon-button__back mb-2" id="close-side">
      <a class="flex flex__ai-c">
        <figure class="mr-1">
          <img src="./assets/icon-arrow-left.svg" alt="filters" />
        </figure>  
        <h4 class="bold">Go back</h4>
      </a>
    </button>    
    <section>
      <h2 class="pb-1">Edit #XM9141</h2> 
      <form  action="" name="edit-invoice" id="edit-invoice-form">
        <section class="bill-from-form">
          <h4 class="pb-1">Bill Form</h4>
          <div class="flex flex__col pb-1">
            <label>Street Address</label>
            <input type="text" name="bill-from--street_address">
          </div>
          <div class="flex flex__jc-sb flex__row-wrap bill-from-form__address-wrapper">
            <div class="flex flex__col pb-1 mini">
              <label>City</label>
              <input type="text" name="bill-from--city">
            </div>
            <div class="flex flex__col pb-1 mini">
              <label>Post Code</label>
              <input type="text" name="bill-from--post_code">
            </div>
            <div class="flex flex__col">
              <label>Country</label>
              <input type="text" name="bill-from--country">
            </div>
          </div>
        </section>
        <section class="bill-to-form">
          <h4 class="pb-1">Bill To</h4>
          <div class="flex flex__col pb-1">
            <label>Client’s Name</label>
            <input type="text" name="bill-to--client-name">
          </div>
          <div class="flex flex__col pb-1">
            <label>Client’s Email</label>
            <input type="text" name="bill-to--client-email">
          </div>
          <div class="flex flex__col pb-1">
            <label>Street Address</label>
            <input type="text" name="bill-to--street_address">
          </div>
          <div class="flex flex__jc-sb flex__row-wrap pb-1 bill-to-form__address-wrapper">
            <div class="flex flex__col pb-1 mini">
              <label>City</label>
              <input type="text" name="bill-to--city">
            </div>
            <div class="flex flex__col pb-1 mini">
              <label>Post Code</label>
              <input type="text" name="bill-to--post_code">
            </div>
            <div class="flex flex__col">
              <label>Country</label>
              <input type="text" name="bill-to--country">
            </div>
          </div>
          <!-- change padding tp 40px // date picker-->
          <div class="user-select-wrapper">
            <div class="flex flex__col pb-1">
              <label>Invoice Date</label>
              <!-- <input id="calendar" type="text" > -->
              <div id="date-picker" class="date-picker">
                <input readonly name="payment-date" class="selected-date" >
                <figure class="ml-auto">
                  <img src="./assets/icon-calendar.svg" height="16" width="16" />
                </figure>
                <div class="dates">
                  <div class="month">
                    <button class="icon-button icon-button__mini prev-month" >
                      <figure>
                        <img src="./assets/icon-arrow-left.svg" />
                      </figure>
                    </button>
                    <!-- <div class="month-input">Aug 2021</div> -->
                    <div class="month-input"></div>
                    <button class="icon-button icon-button__mini next-month" >
                      <figure>
                        <img src="./assets/icon-arrow-right.svg" />
                      </figure>
                    </button>
                  </div>
                  <div class="days"></div>              
                </div>
              </div>
            </div>
            <div class="flex flex__col pb-1">
              <label>Payment Terms</label>
              <div id="select" class="select">
                <input readonly name="payment-terms" class="select__selected-item" >
                <figure class="ml-auto">
                  <img src="./assets/icon-arrow-down.svg" />
                </figure>
                <div class="select__elements">
                  <p>Net 1 Day</p>
                  <p>Net 7 Days</p>
                  <p>Net 14 Days</p>
                  <p>Net 30 Days</p>
                </div>
              </div>
              <!-- <select name="bill-to--terms" id="bill-to--terms">
            </select> -->
            </div>
          </div>
          <div class="flex flex__col pb-1">
            <label>Project / Description</label>
            <input type="text" name="bill-to--project">
          </div>
        </section>
        <section class="item-list-form" id="edit-invoice-form--item-list" >
          <h2>Item List</h2>
          <ul class="item-list-form__items">
          </ul>
        </section>
      </form>
      <button id="add-new-item" class="base flex flex__ai-c flex__jc-center w-100 mt-auto">
        <figure>
          <img src="./assets/icon-plus.svg" alt="filters" />
        </figure>
        <h4>Add new item</h4>
      </button>
    </section>
  </section>
  <footer class="flex flex__jc-sb">
    <a href="javascript:history.go(-1)">
      <button class="base">Cancel</button>
    </a>
    <button id="submit-form-button" class="success">Save</button>
  </footer>
</article>