<section id="home" class="container container__p-all">
  <article class="flex mb-2">
    <hgroup class="flex flex__col">
      <h2>Invoices</h2>
      <h4>7 invoices</h4>
    </hgroup>
    <!-- <button class="icon-button icon-button__mini ml-auto mr-1">
      <h4>Filter</h4>
      <figure>
        <img src="assets/icon-arrow-down.svg" alt="filters" />
      </figure>
    </button> -->
    <button id="new-invoice" class="icon-button ml-auto">
      <figure>
        <img src="assets/icon-plus.svg" alt="add new invoice" />
      </figure>
      <h4>New</h4>
    </button>
  </article>
  <article class="cards">
    <article class="card">
      <a href="#view-invoice">
        <section class="card__invoice">
          <hgroup>
            <h4 class="card__invoice--id bold">RT3080</h4>
            <h4 class="card__invoice--name">Jensen Huang</h4>
          </hgroup>
          <article>
            <hgroup>
              <h4 class="card__invoice--due-date">19 Aug 2021</h4>
              <h3 class="card__invoice--total">1,800.90</h3>
            </hgroup>
            <h4 class="chip chip__success bold">Paid</h4>
          </article>
        </section>
      </a>
    </article>
    <article class="card">
      <a href="#view-invoice">    
        <section class="card__invoice">
          <hgroup>
            <h4 class="card__invoice--id bold">Y9141</h4>
            <h4 class="card__invoice--name">Thomas Wayne</h4>
          </hgroup>
          <article>
            <hgroup>
              <h4 class="card__invoice--due-date">31 Oct 2021</h4>
              <h3 class="card__invoice--total">6,155.91</h3>
          </hgroup>
          <h4 class="chip chip__warn bold">Pending</h4>
        </article>
      </section>
    </a>
    </article>
    <article class="card">
      <a href="#view-invoice">
        <section class="card__invoice">
          <hgroup>
            <h4 class="card__invoice--id bold">FV2353</h4>
            <h4 class="card__invoice--name">Anita Wainwright</h4>
          </hgroup>
          <article>
            <hgroup>
              <h4 class="card__invoice--due-date">12 Nov 2021</h4>
              <h3 class="card__invoice--total">3,102.04</h3>
            </hgroup>
            <h4 class="chip chip__draft bold">Draft</h4>
          </article>
        </section>
      </a>
    </article>
  </article>
</section>