<section id="home" class="container container__p-all">
  <article class="flex mb-2">
    <hgroup class="flex flex__col">
      <h2>Invoices</h2>
      <h4></h4>
    </hgroup>
    <button class="icon-button icon-button__mini ml-auto mr-1">
      <h4>Filter</h4>
      <figure>
        <img src="./assets/icon-arrow-down.svg" alt="filters" />
      </figure>
    </button>
    <button id="new-invoice" class="icon-button">
      <figure>
        <img src="./assets/icon-plus.svg" alt="add new invoice" />
      </figure>
      <h4>New</h4>
    </button>
  </article>
  <article class="cards"></article>
</section>